<p id="notice"><%= notice %></p>

<p>
  <strong>Book:</strong>
  <%= @mailing_list.book_id %>
</p>

<p>
  <strong>Member:</strong>
  <%= @mailing_list.member_id %>
</p>

<%= link_to 'Edit', edit_mailing_list_path(@mailing_list) %> |
<%= link_to 'Back', mailing_lists_path %>
