<div id="privileges"><%= flash[:privileges] %></div>
<% @title = "Welcome" %>
<%x = logged_in? %>
<% unless x.nil? %>
	<p>Hi, <%= x.name %></p>
	<p><%= link_to "Logout" ,logout_path, method: "delete" %></p>
<%else%>
	<p><%= link_to "Login", login_path %></p>
	<p><%= link_to "Signup!", signup_path %></p>
	
<%end%>