
<p id="notice"><%= notice %></p>
<%if @books.empty? %>
  <p>There are no books.</p>
<%end%>
<h1>Listing Books</h1>

<table>
  <thead>
    <tr>
      <th>Sr no</th>
      <th>Name</th>
      <th>Status</th>
    </tr>
  </thead>
  
  <tbody>
    <% @books.each_with_index do |book,i| %>
      <tr>
        <td><%= i + 1 %> </td>
        <td><%= book.name %></td>
        <td><%= book.status %></td>
        <td><%= link_to 'View Details', book %></td>
        <% if is_admin? %>
          <td><%= link_to 'Edit', edit_book_path(book) %></td>
          <td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end%>
        <%if book.status == "Available" %>
          <td><%= link_to 'Checkout', checkout_path(book.isbn) %></td>
        <%end%>
      </tr>
    <% end %>
    <% if is_admin? %>
      <p><%= link_to 'Add a Book', new_book_path %></p>
    <%end%>
  </tbody>
</table>

<br>


