
<p id="notice"><%= notice %></p>

<h1>Listing Books</h1>

<table>
  <thead>
    <tr>
      <th>Sr no</th>
      <th colspan = "1">Name</th>
    </tr>
  </thead>

  <tbody>
    <% @books.each_with_index do |book,i| %>
      <tr>
        <td><%= i + 1 %> </td>
        <td><%= book.name %></td>
        <td><%= link_to 'View Details', book %></td>
        <% if is_admin? %>
          <td><%= link_to 'Edit', edit_book_path(book) %></td>
          <td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


