
<p id="notice"><%= notice %></p>
<%if @books.empty? %>
  <p>There are no books.</p>
<%end%>
<h1>Listing Books</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ISBN</th>
      <th>Name</th>
      <th>Status</th>
    </tr>
  </thead>
  
  <tbody>
    <% @books.each_with_index do |book,i| %>
      <tr>
        <td><%= book.isbn %> </td>
        <td><%= book.name %></td>
        <td><%= book.status %></td>
        <td><%= link_to 'View Details', book , class: "btn-sm btn-primary" %></td>
        <% if is_admin? %>
          <td><%= link_to 'Edit', edit_book_path(book) , class: "btn-sm btn-primary"  %></td>
          <td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' },class: "btn-sm btn-primary"  %></td>
        <%end%>
        <td>
        <%if book.status == "Available" %>
            <%= link_to 'Check out', checkout_path(book.id),class: "btn-sm btn-success"  %></td>
        <%else%>
            <%if is_admin? or current_user.books.where(isbn: book.isbn).count.odd?  %>
                <%= link_to 'Return Book', checkin_path(book.id), class: "btn-sm btn-warning"  %>
            <%else%>
                <%= link_to 'Not Available', "#", class: "btn-sm btn-default", disabled:true  %>
            <%end%>
        <%end%> 
        </td>
      </tr>
    <% end %>
    <% if is_admin? %>
      <p><%= link_to 'Add a Book', new_book_path %></p>
    <%end%>
  </tbody>
</table>

<br>


