<p id="notice"><%= notice %></p>

<p>
  <strong>Isbn:</strong>
  <%= @book.isbn %>
</p>

<p>
  <strong>Name:</strong>
  <%= @book.name %>
</p>

<p>
  <strong>Authors:</strong>
  <%= @book.authors %>
</p>
<p>
  <strong>Status:</strong>
  <%= @book.status %>
</p>
<p>
  <strong>Description:</strong>
  <%= @book.description %>
</p>
<%if is_admin? and !@book.available?%>
<p>
  <strong>Currently owned by:</strong>
  <%= @book.current_owner.name %>
</p>
<%end%>
<%link_to  "Check Out" , checkout_path(@book.id) %>
<% if is_admin? %>
<%= link_to "View History", history_path(@book.id) %>
<%end%>

<%if is_admin? %>
<%= link_to 'Edit', edit_book_path(@book) %> 
<%end%>