<p id="notice"><%= notice %></p>

<p>
  <strong>Isbn:</strong>
  <%= @suggestion.isbn %>
</p>

<p>
  <strong>Name:</strong>
  <%= @suggestion.name %>
</p>

<p>
  <strong>Authors:</strong>
  <%= @suggestion.authors %>
</p>

<p>
  <strong>Description:</strong>
  <%= @suggestion.description %>
</p>

<%= link_to 'Edit', edit_suggestion_path(@suggestion) %> |
<%= link_to 'Back', suggestions_path %>
