<p id="notice"><%= notice %></p>

<p>
  <strong>String:</strong>
  <%= @suggestion.string %>
</p>

<p>
  <strong>String:</strong>
  <%= @suggestion.string %>
</p>

<p>
  <strong>Integer:</strong>
  <%= @suggestion.integer %>
</p>

<p>
  <strong>Text:</strong>
  <%= @suggestion.text %>
</p>

<%= link_to 'Edit', edit_suggestion_path(@suggestion) %> |
<%= link_to 'Back', suggestions_path %>
