<!DOCTYPE html>
<html>
<head>
  <title> LibSys </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<%if logged_in? %>
	<%if current_user.class.to_s == "Member" %>
		<%= link_to "My Account" , current_user %>
	<%else%>
		<%= link_to "My Account" , current_user %>
	<%end%>
<%end%>


<%= yield %>
<p><%= link_to "Home" , "/" %>|
		
<%= link_to 'Back', :back %></p>
</body>
</html>
