<!DOCTYPE html>
<html>
<head>
  <title> LibSys </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	
	<%= render partial: "layouts/header" %>
	<div id="main-container" class="container">
	    <div class="row">
	      	<%x = logged_in? %>
			<% if !(x.nil?) %>
	        	<div id="sidebar" class="col-xs-3">
	        		<p>Hi, <%= x.name %></p>
	        		<ul class="nav nav-pills nav-stacked">
	        			<li role="presentation" class="<%= active_class(current_user)%>" ><%= link_to 'My Account', current_user %></li>
						
						<% if is_admin? %>	
							<li role="presentation" class="<%= active_class(books_path)%>"><%= link_to ' Manage all Books', books_path %></li>
					  		<li role="presentation" class="<%= active_class(admins_path)%>" ><%= link_to 'Manage all Admins', admins_path %></li>
					  		<li role="presentation" class="<%= active_class(members_path)%>"><%= link_to 'Manage all Members', members_path %></li>
					  		<li role="presentation" class="<%= active_class(new_admin_path)%>"><%= link_to 'Add an Admin', new_admin_path %></li>
					  		<li role="presentation" class="<%= active_class(new_book_path)%>"><%= link_to 'Add a Book', new_book_path %></li>
						<%else%>
						<li role="presentation" class="<%= active_class(books_path)%>"><%= link_to ' Show all Books', books_path %></li>
						<%end%>
					</ul>
	        	</div>
	        	<div id="content" class="col-xs-9">
	        		<%= yield%>
	        	</div>
	        <%else%>
	        	<div id="content" class="col-xs-12">
	        		<%= yield %>
	        	</div>
	        <%end%>    
	    </div>
	</div>
	<%= render partial: "layouts/footer" %>
	
</body>
</html>
