<p id="notice"><%= notice %></p>
<%if @members.empty? %>
  <p>There are no members.</p>
<%end%>
<h1>Listing Members</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <% @members.each do |member| %>
      <tr>
        <td><%= member.id %></td>
        <td><%= member.name %></td>
        <td><%= member.email %></td>
        <td><%= link_to 'Show', member,class: "btn-sm btn-primary" %></td>
        <td><%= link_to 'Edit', edit_member_path(member) ,class: "btn-sm btn-warning"%></td>
        <td><%= link_to 'Destroy', member, method: :delete, data: { confirm: 'Are you sure?' } ,class: "btn-sm btn-danger"%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Member', new_member_path %>
