
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @member.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @member.email %>
</p>

<p>
	
  <%if current_user.email == @member.email %>
  <strong>Password:</strong><%= @member.password %>
  <%end%>
</p>

<p><%= link_to 'Edit Profile', edit_member_path(@member)%>
<p><%= link_to 'Logout', logout_path, method: "delete" %><p>

